.topBar {
  background-image: linear-gradient(45deg,#ff8a00,#e52e71);
  margin-bottom: 1rem;
  color: white;
}

.home-link {
  color: white;
}

.home-link:hover {
  color: white;
  text-decoration: none;
}